/* Reset CSS (JANGAN DIHAPUS) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

/* Ketik code Anda dibawah */
/*HEADER*/
.header{
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}
.header-logo{
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}
.header-list{
  float: left;
}
.header-list li{
  float: left;
  padding: 33px 20px;
}

/*MAIN*/
.main {
  padding: 100px 80px;
}
.main h1{
  font-size: 140px;
}
h1 span{
  color: #ff4a4a;
}
.main h2{
  font-size: 60px;
}

.contents{
  height: 500px;
  margin-top: 100px;
}
.section-title{
  font-size: 28px;
  padding-bottom: 15px;
  border-bottom: 2px solid #dee7ec;
  margin-bottom: 50px;
}
.contents-item {
  float: left;
  margin-right: 40px;
}
.contents-item p{
  margin-top: 30px;
  font-size: 24px;
}

.contact-form{
  padding-top: 100px;
}
input, textarea{
  border: 1px solid #dee7ec;
  width: 400px;
  margin: 10px 0 30px;
  padding: 20px;
  font-size: 18px;
}
.contact-submit{
  background-color: #dee7ec;
  color: #889eab;
}

/*FOOTER*/
.footer{
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px;
}
.footer-logo{
  font-size: 32px;
  margin-bottom: 40px;
  float: left;
}
.footer-list{
  float: right;
}
.footer-list li{
  padding-bottom: 20px;
}
